<ion-header>
  <ion-toolbar>
    <ion-title>
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/ggNcIVl0mX0UKYj0fuZO3ocwQCI.jpg"/>
    <ion-card-content>
      <ion-card-title>
        Homem-Aranha: Longe de Casa
        </ion-card-title>
      <p>
        Peter Parker está de volta em Homem-Aranha: Longe de Casa,
         novo capítulo da série De Volta Ao Lar.
          Nosso amigão da vizinhança decide se unir aos seus melhores amigos…
      </p>
    </ion-card-content>
  </ion-card>
  


  <ion-card>
    <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/wrHr8eEJYDAA7WYybyH162s4oZ4.jpg"/>
    <ion-card-content>
      <ion-card-title>
        O Rei Leão 
        </ion-card-title>
      <p>
        Mufasa é o rei na savana africana, respeitado por outros animais e temido por inimigos.
         Seu filho, Simba, tem o pai como ídolo e aprendeu com ele sobre o ciclo da vida e a importância de manter a harmonia e dar continuidade ao reinado da Pedra do Reino.
          Por outro lado, o invejoso tio Scar, ex-herdeiro do trono e irmão de Mufasa, não dava a mínima para a tradição, conseguiu fazer com que o sobrinho fosse exilado, e assim assumiu o poder.
           Longe de casa e de todos, Simba criou fortes laços com o lêmure Timão e o javali Pumba, dois novos e fiéis amigos. Juntos, eles viverão uma jornada de descobertas e crescimento,
            culminando com o retorno do adulto Simba para seu lugar de verdadeiro rei.
      </p>
    </ion-card-content>
  </ion-card>




  <ion-card>
    <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/gUpO1uHeq16fDx47waCggANIKGR.jpg"/>
    <ion-card-content>
      <ion-card-title>
        Toy Story 4 
        </ion-card-title>
      <p>
        Woody, Buzz, Jesse e toda a turma vivem felizes, agora como brinquedos da pequena Bonnie.
         Entretanto, a chegada de um garfo transformado em brinquedo, Forky, faz com que a calmaria reinante chegue ao fim,
          justamente porque ele não se aceita como brinquedo.
      </p>
    </ion-card-content>
  </ion-card>




  <ion-card>
    <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/cYlzLYlhUXS0kW9T3ttAQ6fvZuV.jpg"/>
    <ion-card-content>
      <ion-card-title>
        Aladdin 
        </ion-card-title>
      <p>
        Um jovem humilde descobre uma lâmpada mágica, com um gênio que pode lhe conceder desejos.
         Agora o rapaz quer conquistar a moça por quem se apaixonou, mas o que ele não sabe é que a jovem é uma princesa que está prestes a se noivar.
          Agora, com a ajuda do Gênio (Will Smith), ele tenta se passar por um príncipe e para conquistar o amor da moça e a confiança de seu pai.
      </p>
    </ion-card-content>
  </ion-card>





  <ion-card>
    <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/lWyPivHZD7M3itErgedllY2Vfu8.jpg"/>
    <ion-card-content>
      <ion-card-title>
        Brinquedo Assassino 
        </ion-card-title>
      <p>
        Um boneco altamente tecnológico adentra a vida de um grupo de crianças.
         Mal sabem elas que o boneco está amaldiçoado e vai trazer todo tipo de horror para o dia a dia delas.
         Reboot de Brinquedo Assassino.
      </p>
    </ion-card-content>
  </ion-card>




  
  <ion-card>
    <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/rkHe0BfOo1f5N2q6rxgdYac7Zf6.jpg"/>
    <ion-card-content>
      <ion-card-title>
        Vingadores: Guerra Infinita
        </ion-card-title>
      <p>
        Enquanto os Vingadores e seus aliados continuaram a proteger o mundo de ameaças grandes demais para qualquer herói,
         uma nova ameaça emergiu das sombras cósmicas: Thanos.
          Um déspota de infâmia intergalática, tem o objetivo de coletar todas as seis Joias do Infinito,
           artefatos de poder inimaginável, e usá-las para infligir sua vontade distorcida em toda a realidade.
            Tudo pelo que os Vingadores lutaram levou até este momento - o destino da Terra e da própria existência nunca foi tão incerto.
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
